.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    background-color: rgb(92, 146, 255);

    &__logo {
        display: grid;
        place-items: center;
        height: 120px;
        font-size: 2.75rem;
        font-weight: 700;
        font-family: Garamond, serif;
        //font-family: 'Mochiy Pp P one', sans-serif;

        color: rgb(200, 16, 46);
    }

    &__menu {
        position: relative;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #404040;
            transition: color 0.3s ease-in-out;

            &.active {
                color: #fff;
            }

            &__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.75rem;
                }
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            border-radius: 100px;
            background-color: rgb(8, 64, 149);
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
        }
    }

    &__user {
        display: grid;
        position: absolute;
        place-items: center;
        //{height: 120px;}
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Mochiy Pop P one', sans-serif;
        color: #555555;

        left: 7.5vh;
        bottom: 7.5vh;

    }

}